/*General*/

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');


:root {
	--t-color: #faf6f6;
	--h-color: #faf2f2;

	--bg-color: #000000;
	--nv-color: #030303;

  --ani-color: #926b6b;
  --nvv-color:rgb(51, 50, 50);
  --link-color:#0d0d0e;
}

*{
  margin:0;
  padding:0;
  cursor:default;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: var(--nvv-color);
  padding-top:10vh;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 10vh;
}

p{
  color: rgb(85,85,85);
}

/* Transition */

a, .btn{
  transition: all 300ms ease;
}


/* Desktop-NAV */

#desktop-nav{
  background-color: var(--nv-color);
  position: fixed;
  top:0;
  z-index: 9999;
  width: 100%;
  box-shadow: 100px 200px 300px rgb( 0 0 0 / 10%);
}

nav, .nav-links{
  display: flex;
}

nav{
  justify-content: space-around;
  align-items: center;
  height: 10vh;    /*Set to take 17% of the page size */
}

.nav-links{
  gap:2rem;
  list-style:none;
  font-size:1.5rem;
  cursor: pointer;
}

a{
  color: var(--t-color);
  text-decoration: none;
  text-decoration-color: var(--t-color);
  cursor: pointer;
}

a:hover{
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181,181,181);
}

.logo{
  color: var(--t-color);
  font-size:2.5rem;
  font-style: oblique;
  font-weight: 900;
  position: relative;
}
  /*text-shadow: 0 0 50px var(--ani-color),
                0 0 100px var(--ani-color),
                0 0 150px var(--ani-color),
                0 0 200px var(--ani-color),
                0 0 250px var(--ani-color);
  animation: animate 5s linear infinite;     
}

@keyframe animate
{
  0%
  {
    filter: hue-rotate(0deg);
  }
  100%
    filter: hue-rotate(0deg);
}*/

.logo a{
  text-decoration: none;
}


/* hamburger-menu */

#hamburger-nav{
  display: none;
  color: var(--t-color);
  top: 0;
  
}

.logo-nav a{
  color: var(--t-color);
  font-size:2.5rem;
  font-style: oblique;
  font-weight: 900;
  text-decoration: none;
  transition: all 1 ease-in-out;
  top:-10vh;
}

.logo:hover{
  color: var(--nvv-color);
  cursor:default;
  text-decoration: none;
  transition: all 1 ease-in-out;
}


.hamburger-menu{
  position: relative;
  display: inline-block;
  color: var(--t-color);

}

.hamburger-icon{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--t-color);
  height:24px;
  width:30px;
  cursor:pointer;
}

.hamburger-icon span{
  width:100%;
  height: 2px;
  background-color: black;
  transition: all 0.8 ease-in-out;
}

.menu-links{
  position:absolute;
  top: 100%;
  right:0;
  background-color: var(--nvv-color);
  width:fit-content;
  max-height:0;
  overflow:hidden;
  transition: all 0.8 ease-in-out;
  cursor: pointer;
}

.menu-links a{
  display: black;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color:var(--t-color);
  text-decoration:none;
  transition: all 0.8 ease-in-out;
}

.menu-links li{
  list-style: none;
}

.menu-links.open{
  max-height: 300px;
}

.hamburger-icon.open span:first-child{
  transform:rotate(45deg) translate(10px,5px);
}

.hamburger-icon.open span:nth-child(2){
  opacity:0;
}

.hamburger-icon.open span:last-child{
  transform:rotate(-45deg) translate(10px,-5px);
}

.hamburger-icon span:first-child{
  transform: none;
}

.hamburger-icon span:first-child{
  opacity:1;
}

.hamburger-icon span:first-child{
  transform: none;
}

section{
  padding-top: 0vh;  
  margin: 0 100rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container{
  display:flex;
  font-display: nowrap;
  white-space: nowrap;
}

/*-----------------------------ICONS and buttons-----------------------------------------------*/

.icon{
  cursor: pointer;
  height: 2rem;
  align-tracks: initial;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: var(--t-color);
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  color: var(--t-color);
}

.btn-color-1 {
  border: var(--t-color) 0.3rem solid;
  color: var(--bg-color);
  font-display: var(--bg-color);
}

.btn-color-1:hover{
  cursor: pointer;
  background: rgb(0, 0, 0);
  color: var(--t-color);  
}

/*------------------------------------------- ABOUT Section---------------------------------------------- */

#about{
  margin:0;
  padding: 0;
  position: relative;
}

.about-container{
  display: flex;
  justify-content: left;
  padding: 6vh;  
  gap: 6rem;
  
}

.about-container-item-1{  
  width:350px;
  justify-items: center;
  align-items: center;
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
  
  /*position: fixed;
  margin:5px;
  border:3px solid #333;
  background-color: #dfdfdf;  */  
}

.profile-picture-container{
  display: block;
  margin: auto;
  padding: 10%; 
  max-height: 250px;
  max-width: 250px;
  height: auto;
}

.profile-description{
  padding-top: 5%;
  text-align: center;
  color: var(--t-color);
}
.profile-picture{  
  justify-content: center;
  align-content: center;
  max-width: 250px;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  border-style: hidden;
}

.section-text{
  color: var(--t-color);
  padding-top: 4vh;
  align-self: center;
  text-align: center;
  
}

.section__text p {
  color: var(--t-color);
  font-weight: 600;
}

#socials-container{
  display: flex;
}

.socials-container-image {
  justify-content: left;
  justify-items: normal;
  padding-left: 10%;
  margin-top: 1rem;
  gap: 1rem;
  align-items: center;
  
}

.socials-container-image ul{
  list-style: none;
  text-decoration: none;
  align-items: center;  
  text-decoration-line: none;
  color: var(--t-color);
}

.socials-container-text{
  width: 100%;
  height: 100vh;
  border:none;
  padding-top: 4.3%;
  padding-left: 5%;
  white-space: nowrap;
  color: var(--t-color);
}
.socials-container-text ul{
  list-style: none;  
  text-align: left;
  text-decoration-line: none;  
  line-height: 2.5rem;
  float:left;
}


.socials-link{
  color: var(--bg-color);
  list-style: none;
  align-items: left;
  text-decoration: none;
  text-align: justify;
  color: var(--t-color);
  cursor: pointer;  
}
.socials-link:hover{
  color: var(--bg-color);
  text-decoration: none;
  text-decoration-line: none;  
}

.about-container-item-2{  
  position: relative;
  padding-top: 3%;
  max-width:100%;
  height: auto;
 /* margin:5px;
  border:3px solid #333;
  background-color: #dfdfdf;*/
  text-align: justify;
  column-gap: 4%;
  flex-grow: 2;  
}

.about-me-description{
  color: var(--t-color);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 4in;
  flex:1;
}

.descriptions{
  color:var(--t-color)
}

.subsection-heading{
  color:var(--t-color);
  font-weight: 900;
  font-size: 2.5rem;
}

.listed-descriptions{
  padding-left: 5%;
}

.hobbies{
height:800px;
}

.hobbies-container{
  display: flex;
  padding-top: 4%;
  align-items: flex-start;
  justify-content: left;
}
.hobby-image-container{   
  padding-right:2%;
  align-items: flex-start;
}
.hobby-description-container{
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left:1%;
  align-content: space-around;   
  max-width: 100%;
  flex-grow: 1; 
}
.hobby-image{
  display: flex;
  flex-direction: column;
  padding-top: 2% ;
  max-height:250px;
  max-width: 250px;
 /* margin:5px;
  border:3px solid #333;
  background-color: #dfdfdf;  */
}
.hobby-description{
  display: flex;
  flex-direction: column;
  padding-top: 2% ;
  min-height:236px;
  max-width: fit-content;
  /*margin:5px;
  border:3px solid #333;
  background-color: #dfdfdf; */ 
  flex-grow: 1;
}
