  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,800;1,100;1,300;1,400&display=swap');


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
}

body{
    
    --color1 : #FFF;
    --color2 : #000000;
    --t-color: #FFF;
    --h-color: #faf2f2;
  
    --bg-color: #424242;
    --nv-color: #030303;
  
    --ani-color: #926b6b;
    --nvv-color:rgb(51, 50, 50);
    --link-color:#0d0d0e;

    
}

:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }
  
  body {
    font-family: "Inter", sans-serif;
  }
  
  .container {
    display: grid;
    height: 145vh;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 2fr;
    grid-template-areas:
      "nav nav nav nav blank2"
      "sidebar main main main blank2"
      "sidebar main main main blank2";    
    font-weight: 800;
    
    font-size: 12px;
    color: #004d40;
    text-align: center;
  }


  nav {
    grid-area: nav;
    border-radius: var(--main-radius);
    
  }
  
  main {
    background: var(--bg-color);
    grid-area: main;
    
    padding-right: 4%;
    padding-left: 2%;
    padding-top: var(--main-padding);
  }
  
  #sidebar {
    background: var(--bg-color);
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    justify-content: center;
    grid-area: sidebar;
    padding-top: var(--main-padding);
  }  
  
  a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
  }
  .nav-bar{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: var(--color2);
    padding: 12px 20px;
    position:relative;
}

.logo {
    width: 500px;    
    color: var(--color1);
    font-size: 2.5rem;    
    white-space: nowrap;
    font-style: italic;
    font-weight: 900;
}

.logo a {
    color: var(--color1);
}

.logo a:hover{
  color: var(--bg-color);
}

.menu{
    display: flex;
    padding-right: 100px;
    white-space: nowrap;
    font-size: 1rem
}

.menu li{
    padding-left: 30px;
}

.menu li a{
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    text-align:center;
}

.meun li a:hover{
  color: var(--color2)
}

.menu li a ::after{
    content:"";
    position: absolute;
    bottom: 0;
    left:0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
    
}

.menu li a:hover:after{
    width: 100%;
    
}

.open-menu, .close-menu{
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display:none;
}

.open-menu{
    top:50%;
    right: 20px;
    transform:translateY(-50%);
}

.close-menu{
    top:20px;
    right:20px;
}

#check{
    display: none;
}

.about-container-1{

  justify-content: center;
  padding-top: 10%;
  
  align-items: center;
  height:auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.profile-picture{  
  justify-content: center;
  align-content: center;
  
  max-width: 200px;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  border-style: hidden;
}

.section-text{
  color: var(--t-color);
  padding-top: 4vh;
  font-size:  1rem;
  align-self: center;
  text-align: center;
  
}

.section__text p {
  color: var(--t-color);
  font-weight: 600;
}

#socials-container{
  display: flex;
}

.socials-container-image {
  justify-content: left;
  justify-items: normal;
  padding-left: 10%;
  margin-top: 0.3rem;
  gap: 1rem;
  align-items: center;
  
}

.socials-container-image ul{
  list-style: none;
  text-decoration: none;
  align-items: center;  
  text-decoration-line: none;
  color: var(--t-color);
}

.socials-container-image ul li{
  padding-top: 1.1rem;
}

.socials-container-text{
  width: 100%;
 
  border:none;
  font-size: 1rem ;
  padding-top: 4.3%;
  padding-left: 5%;
  white-space: nowrap;
  color: var(--t-color);
}
.socials-container-text ul{
  list-style: none;  
  text-align: left;
  text-decoration-line: none;  
  line-height: 2.5rem;
  float:left;
}


.socials-link{
  color: var(--t-color);
  list-style: none;
  align-items: left;
  text-decoration: none;
  text-align: justify;
  cursor: pointer;  
}
.socials-link:hover{
  color: var(--color2);
  text-decoration: none;
  text-decoration-line: none;  
}

.icon{
  cursor: pointer;
  height: 2rem;  
}

.btn-container {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  gap: 0rem;
  color: var(--t-color);
}

.btn {
  font-weight: 900;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  color: var(--t-color);
}

.btn-color-1 {
  border: var(--color2) 0.3rem solid;
  color: var(--bg-color);
  font-display: var(--t-color);
}

.btn-color-1:hover{
  cursor: pointer;
  background: rgb(0, 0, 0);
  border: var(--color1) 0.3rem solid;
  color: var(--color1);  
}

.about-me-description{
  color: var(--t-color);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 4in;
  padding-top: 4%;
  flex:1;
}

.descriptions{
  color:var(--t-color);
  text-align: left;
  padding-left: 5%;
  font-size: 1rem;
}

.subsection-heading{
  color:var(--t-color);
  font-weight: 600;
  text-align: left;
  padding-left: 5%;
  font-size: 2.5rem;
}

.listed-descriptions{
  padding-left: 5%;
  text-align: left;
  font-size: 1rem;
}

.hobbies{
height:800px;
}

.hobbies-container{
  display: flex;
  padding-top: 4%;
  align-items: flex-start;
  justify-content: left;
}
.hobby-image-container{   
  padding-right:2%;
  align-items: flex-start;
}
.hobby-description-container{
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left:1%;
  align-content: space-around;   
  max-width: 100%;
  flex-grow: 1; 
}
.hobby-image{
  display: flex;
  flex-direction: column;
  padding-top: 2% ;
  max-height:250px;
  max-width: 250px;
 /* margin:5px;
  border:3px solid #333;
  background-color: #dfdfdf;  */
}
.hobby-description{
  display: flex;
  flex-direction: column;
  padding-top: 2% ;
  min-height:236px;
  max-width: fit-content;
  /*margin:5px;
  border:3px solid #333;
  background-color: #dfdfdf; */ 
  flex-grow: 1;
}
